/*  Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #EEEEEE;
  --basic-brown: #766357;
  --basic-blue: #81B3D2;
  --basic-extra-blue: #669EC0;
  --basic-extra-gray: 333333;

  
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  
}

a {
	text-decoration: none;
	color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;

}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

/* User navigation */

.site-navigation a, 
.user-navigation a {
  color: var(--basic-black);

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-blue);
}

.container-title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;

}
/* Features */

.features {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.features-h2 {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;	
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item_title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;

}

.features-item_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}


/* recommendation */


.recommendation-title {
  font-size: 21px;
  line-height: 21px;

}

.recommendation-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

}


/* accommodation */

.accommodation {
  text-align: center;
}

.accommodation_title  {
  font-size: 30px;
  line-height: 24px;
  
}

.accommodation-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  
}

.accommodation-item {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
} 

/* footer */

.main-footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-contacts {
  text-align: left;
}

.footer-social {
  text-align: center;
}

.social-button {
  color: initial;
}

.social-button:hover,
.social-button:focus {
  background-color:var(--basic-extra-blue)
}


.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;	
}

.footer-copyright {
  text-align: right;
}
